<div class="full-width full-height main-bg login">
    <form #login="ngForm" class="login">
      <h1 class="text-center"><span>Welcome to</span> Tasker</h1>
      <p class="text-center">Login</p>
      <br/>
      <label>Email</label>
      <input/>
      <label>Password</label>
      <input />
      <button class="primary btn-margin">Login</button>
      <button class="secondary" (click)="loginLocaly()">Login as guest (data saved localy)</button>
      <p class="text-center">or</p>
      <a class="link">Create new account</a>
    </form>
</div>
